body{
    font-family: Arial, Helvetica, sans-serif;
    
}

  .dropdown-check-list {
    display: inline-block;
  }
  
  .anchor{
    display: none; 
    position: relative;
    cursor: pointer;
    
  }
  .field{
    border: 1px solid #ccc;
    width: 300px;
    border-radius: 5px;
    position: relative;
    padding-right: 20px;
  }
  .field-border{
    border-radius: 5px 5px 0 0;
  }
  .field:hover{
    border-color: #31a2ff;
  }

  .dropdown-check-list .items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #31a2ff;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  }
  .items::-webkit-scrollbar {
    width: 6px;
    
  }
  .items::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 5px;
  }
  
  .dropdown-check-list ul.items li {
    list-style: none;
    border-radius: 5px;
    padding: 2px;
    margin: 1px;
  }
  .dropdown-check-list ul.items li:hover {
    background-color: #ebebeb;
    transition: ease-in-out 0.2s;
    cursor: pointer;
  }
  
  .dropdown-check-list.visible .field{
    border-color: #31a2ff;
  }
  
  .dropdown-check-list.visible .items {
    display: block;
    max-height: 300px;
    overflow: auto;
  }
.selectedItem{
    background-color: #ebebeb;
    font-size: 13px;
    border-radius: 5px;
    display: inline-block;
    padding: 1px;
    margin: 1px;
}
.selectedItem button{
    border: none;
    color: rgb(156, 156, 156);
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
    
}
.selectedItem button:hover{
    color: rgb(32, 32, 32);
}
.clear{
    border: none;
    cursor: pointer;
    color: rgb(156, 156, 156);
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    
}
.clear:hover{
    color: black;
}

.input{
    border: none; 
    border-radius: 5px;
    width: 90%;
}
.input:focus{
    outline: none;
}

.chosen{
    transition: ease-in-out 0.2s;
    background-color: #cfe9ff;
    font-weight: bold;
}